---
import Layout from "../../layouts/Layout.astro";

const musics = [
  {
    title: "ガラクタロード",
    artist: "初星学園",
    tags: ["アゲ", "アイマス", "original"],

    comment:
      "メ組のメ！",

    youtube: "O9oCfxSJXTY",
  },

  {
    title: "バース・デイ",
    artist: "浮遊信号",
    tags: ["アゲ", "Vtuber", "original"],

    comment:
      "🎂",

    youtube: "QqNPP0shiYQ",
  },

  {
    title: "Reply from超かぐや姫！",
    artist: "かぐや(cv.夏吉ゆうこ)",
    tags: ["アゲ", "cover"],

    comment:
      "劇中で流れたとき確実に涙腺が崩壊する。",
    
    youtube: "QiSE1n_X4qU",
  },

 {
    title: "Sir Duke",
    artist: "Stevie Wonder",
    tags: ["アゲ", "洋楽"],

    comment:
      "ぱーぱーぱーぱっ！",
    youtube: "ETFvmkIA6S4",
  },

  {
    title: "冥冥",
    artist: "Chevon",
    tags: ["アゲ", "original"],

    comment:
      "メェメェ",
    youtube: "cJSttNbgqJI",
  },

  {
    title: "セレナーデ",
    artist: "棗いつき",
    tags: ["アゲ", "cover"],

    comment:
      "飄々と芯のある表現力。",
    youtube: "7NG3L-AUjok",
  },

  /*
  {
    title: "",
    artist: "",
    tags: ["", ""],

    comment:
      "",
    youtube: "",
  },
  */
];

//タイトル順ソート
musics.sort((a,b) =>
  a.title.localeCompare(b.title, "ja")
);
---

<Layout title="好きな音楽">

  <h1 class="text-4xl font-bold mb-10">
    音楽
  </h1>

  <p class="text-zinc-700 mb-10">
    お気に入り曲たち。
  </p>

  <div class="space-y-10">

    {
      musics.map((music) => (

        <section
          class="
            border
            border-emerald-300
            bg-emerald-50
            rounded-2xl
            p-6
          "
        >

          <!-- 曲名 -->
          <h2 class="text-2xl font-bold mb-2">
            {music.title}
          </h2>

          <!-- アーティスト -->
          <p class="text-zinc-700 mb-4">
            {music.artist}
          </p>

          <!-- コメント -->
          <p class="text-zinc-800 mb-6 leading-relaxed">
            {music.comment}
          </p>

          <!-- YouTube -->
          <div class="aspect-video">

            <iframe
              class="w-full h-full rounded-xl"
              src={`https://www.youtube.com/embed/${music.youtube}`}
              title={music.title}
              frameborder="0"
              allowfullscreen
            ></iframe>

          </div>

          <!-- タグ -->
          <div class="flex gap-2 flex-wrap mt-4 mb-6">

            {
              music.tags.map((tag) => (

                <span
                  class="
                    text-sm
                    bg-emerald-200
                    text-emerald-900
                    px-3
                    py-1
                    rounded-full
                  "
                >
                  #{tag}
                </span>

              ))
            }
          </div>

        </section>

      ))
    }
  </div>

</Layout>